{% extends 'portifolio/partial/modal/_createpersonaldatamodal.html' %}
{% load crispy_forms_tags %}
{% block modal-id %}id="createsocialmedia"{% endblock modal-id %}
{% block modal-title %}Create Social Media{% endblock modal-title %}

{% block action %}
action={% url 'portifolio:createsocialmedia' %}
{% block file %}{% endblock file %}
{% endblock %}
{% block forms %}
    {{ form_minicard.name|as_crispy_field }}
    {% include 'portifolio/partial/helps/_socialmedia.html' %}
    {{ form_minicard.icon|as_crispy_field }}
    {{ form_minicard.link|as_crispy_field }}
{% endblock %}

