{% extends 'portifolio/partial/modal/_createpersonaldatamodal.html' %}

{% block modal-id %}id="deletecard{{card.id}}"{% endblock modal-id %}
{% block modal-title %}Delete {{card.title}}{% endblock modal-title %}

{% block action %}
action = "{% url 'portifolio:deletecard'%}"
{% block file %}{% endblock file %}
{% endblock %}
{% block forms %}

<input type="hidden" name ="card_id" value="{{ card.id }}">
<h3>Are you sure ?</h3>
<h3>This action cannot be reversed!</h3>
{% endblock %}
{% block button-action %}<button type="submit" class="btn btn-danger">Delete</button>{% endblock button-action %}


