{% extends 'portifolio/partial/modal/_createpersonaldatamodal.html' %}

{% block modal-id %}id="editsocialmedia{{minicard.id}}"{% endblock modal-id %}
{% block modal-title %}Edit {{minicard.name}}{% endblock modal-title %}

{% block action %}
action={% url 'portifolio:editsocialmedia' %}
{% block file %}{% endblock file %}
{% endblock %}
{% block forms %}
<input type="hidden" name ="minicard_id" value="{{ minicard.id }}">

<div class="form-floating mb-3">
    <input class="form-control count-chars" name="name" id="name" placeholder="name" 
    maxlength="20" data-max-chars="20" required value="{{ minicard.name }} ">
    <div  class="form-text"></div>
    <label class="form-label">Name*</label>
</div>
{% include 'portifolio/partial/helps/_socialmedia.html' %}
<div class="form-floating mb-3">
    <input type="text" class="form-control count-chars" name="icon" id="icon" 
    maxlength="20" data-max-chars="20" required value="{{ minicard.icon }}" placeholder="Icon">
    <div  class="form-text"></div>
    <label class="form-label" >Icon*</label>
</div>

<div class="form-floating mb-3">
    <input type="text" class="form-control" name="link" value="{{ minicard.link }}" 
    placeholder="Link">
    <label class="form-label" >Link</label>
</div>
{% endblock %}
{% block button-action %}
    <button type="submit" class="btn btn-warning" id="button">Save</button>
{% endblock button-action %}

