{% extends 'portifolio/partial/modal/_createpersonaldatamodal.html' %}

{% block modal-id %}id="editskills{{minicard.id}}"{% endblock modal-id %}
{% block modal-title %}Edit {{minicard.name}}{% endblock modal-title %}

{% block action %}
action={% url 'portifolio:editskills' %}
{% block file %}{% endblock file %}
{% endblock %}
{% block forms %}
<input type="hidden" name ="minicard_id" value="{{ minicard.id }}">

<div class="form-floating mb-3">
    <input class="form-control count-chars" name="name" placeholder="name" 
    required value="{{ minicard.name }}" maxlength="30" data-max-chars="30" >
    <div  class="form-text"></div>
    <label class="form-label">Name*</label>
</div>
{% include 'portifolio/partial/helps/_skill.html' %}

<div class="form-floating mb-3">
    <input type="text" class="form-control" name="icon"  
    required value="{{ minicard.icon }}" placeholder="Icon">
    <label class="form-label">Icon*</label>
</div>

<div class="form-floating mb-3">
    <input type="text" class="form-control" name="link"  
    value="{{ minicard.link }}" placeholder="Link">
    <label>Link</label>
</div>
{% endblock %}
{% block button-action %}
    <button type="submit" class="btn btn-warning">Save</button>
{% endblock button-action %}


