{% extends 'portifolio/partial/modal/_createpersonaldatamodal.html' %}

{% block modal-id %}id="editpersonaldatamodal"{% endblock modal-id %}
{% block modal-title %}Edit Home{% endblock modal-title %}

{% block action %}
action={% url 'portifolio:editpersonaldata' %}
{% endblock %}
{% block forms %}
    {% for personaldata in personaldatas %}
        <input type="hidden" name ="personaldata_id" value="{{ personaldata.id }}">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" name="name" value="{{ personaldata.name }}">
        </div>        
        
        <div class="mb-3">
            <label class="form-label">Profession</label>
            <input class="form-control" name="profession" value="{{ personaldata.profession }}">
        </div>
                
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input class="form-control" name="title" value="{{ personaldata.title }}">
        </div>
                
        <div class="mb-3">
            <label class="form-label">Whatsapp</label>
            <input class="form-control" name="whatsapp" value="{{ personaldata.whatsapp }}">
        </div>
        
    {%endfor%}
{% endblock %}

