{% extends 'portifolio/partial/modal/_createpersonaldatamodal.html' %}

{% block modal-id %}id="editpersonaldatamodal"{% endblock modal-id %}
{% block modal-title %}Edit Home{% endblock modal-title %}

{% block action %}
action={% url 'portifolio:editpersonaldata' %}
{% endblock %}
{% block forms %}
    {% for personaldata in personaldatas %}
        <input type="hidden" name ="personaldata_id" value="{{ personaldata.id }}">

        <div class="form-floating mb-3">
            <input class="form-control count-chars" name="name" id="name" placeholder="name" 
            maxlength="30" data-max-chars="30" required value="{{ personaldata.name }}">
            <div  class="form-text"></div>
            <label class="form-label">Name*</label>

        </div>        
        
        <div class="form-floating mb-3">
            <input class="form-control count-chars" name="profession" id="profession" 
            maxlength="30"data-max-chars="30" placeholder="profession" 
            required value="{{ personaldata.profession }}">
            <div  class="form-text"></div>
            <label class="form-label">Profession*</label>
        </div>
                
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" name="title" id="title" 
            required style="height: 100px">{{ personaldata.title }}
            </textarea>
            <label class="form-label">Title*</label>
        </div>
        {% include 'portifolio/partial/helps/_whatssap.html' %}      
        <div class="form-floating mb-3">
            <input class="form-control count-chars" name="whatsapp" id="whatsapp" maxlength="60"
            data-max-chars="60" placeholder="whatsapp" value="{{ personaldata.whatsapp }}">
            <div  class="form-text"></div>
            <label class="form-label">Whatsapp</label>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Cover</label>
            <input class="form-control" type="file" name="cover">
        </div>
        {% if personaldata.cover %}
            <div class="user">
                <img src="{{ personaldata.cover.url }}" />
            </div>
        {% endif %}
    {%endfor%}
{% endblock forms%}
{% block button-action %}
    <button type="submit" class="btn btn-warning">Save</button>
{% endblock button-action %}

