<!-- about section starts -->

<section class="about" id="about">
  <h1 class="heading"><span>about</span> me</h1>
  <div class="row">
    <div class="box-container">
      {% for card in cards %}

        {% if card.section == '1' %}
          <div class="box">
            <h3>{{ card.title }}</h3>
            <p>{{ card.subtitle }}</p>
            <div class="button-card">
              <button type="button" data-bs-toggle="modal" data-bs-target="#editcard{{card.id}}"><i class="fas fa-edit"></i></button>
              <button type="button" data-bs-toggle="modal" data-bs-target="#deletecard{{card.id}}"><i class="fas fa-trash-alt"></i></button>
            </div>
          </div>
        {% endif %}
        {% include 'portifolio/partial/modal/_editcardmodal.html' %}
      {% endfor %}
    </div>

    <div class="content">
      {% for aboutdata in about %}
        <h3>{{ aboutdata.title }}</h3>
        <p>{{ aboutdata.aboutme }}</p>
      {% endfor %}
      <a href="#" class="btn">contact me</a>
    </div>
  </div>

  <div class="row">
    <div class="box-progress">
      {% for barprogress in barprogress %}
        <div class="progress">
          <h3>{{ barprogress.title }} <span>{{ barprogress.progress }}</span></h3>
          <div class="bar">
            <span style="width:{{ barprogress.progress }}"></span>
          </div>
        </div>
        <div class="button-card">
          <button type="button" data-bs-toggle="modal" data-bs-target="#editbarprogress{{barprogress.id}}"><i class="fas fa-edit"></i></button>
          <button type="button" data-bs-toggle="modal" data-bs-target="#deletebarprogress{{barprogress.id}}"><i class="fas fa-trash-alt"></i></button>
        </div>
        {% include 'portifolio/partial/modal/_editbarprogressmodal.html' %}
        {% include 'portifolio/partial/modal/_deletebarprogressmodal.html' %}
      {% endfor %}
    </div>
  </div>
</section>

<!-- about section ends -->
