
    <!-- about section starts  -->

    <section class="about" id="about">

        <h1 class="heading"> <span>about</span> me </h1>

        <div class="row">

            <div class="box-container">
                <div class="box">
                    <h3>15+</h3>
                    <p>Repositorio no GitHub</p>
                </div>
                <div class="box">
                    <h3>160+</h3>
                    <p>Jornada de estudo sobre progamação</p>
                </div>
                <div class="box">
                    <h3>160+</h3>
                    <p>Commits no GitHub(2022)</p>
                </div>
            </div>

            <div class="content">
                <h3>Eu sou <span>Heitor Louzeiro</span></h3>
                <p>Desenvolvedor de Software apaixonado por soluçoes simples para problemas dificeis.
                    Entusiasta dos metodos ageis, de ambientes flexiveis e propensos a entrega continua.
                    Aceite novos desafios e resolva-os.
                </p>
                <p></p>
                <a href="#" class="btn">contact me</a>
            </div>

        </div>

        <div class="row">

            <div class="progress">
                <h3> web design <span>90%</span> </h3>
                <div class="bar bar-1-1"><span></span></div>
                <h3> graphic design <span>75%</span> </h3>
                <div class="bar bar-1-2"><span></span></div>
                <h3> UI/UX design <span>80%</span> </h3>
                <div class="bar bar-1-3"><span></span></div>
            </div>

            <div class="progress">
                <h3> HTML <span>95%</span> </h3>
                <div class="bar bar-2-1"><span></span></div>
                <h3> CSS <span>80%</span> </h3>
                <div class="bar bar-2-2"><span></span></div>
                <h3> javascript <span>65%</span> </h3>
                <div class="bar bar-2-3"><span></span></div>
            </div>

        </div>

    </section>

    <!-- about section ends -->