<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn"><i class="fas fa-plus"></i></button>
  <div id="myDropdown" class="dropdown-content">
    {% if personaldatas %}
      <button type="button" class="btndrop" data-bs-toggle="modal" data-bs-target="#editpersonaldatamodal{{ personaldata.id }}">Edit Home</button>
    {% else %}
      <button type="button" class="btndrop" data-bs-toggle="modal" data-bs-target="#createpersonaldatamodal">Create Home</button>
    {% endif %}
  </div>
</div>
{% if personaldatas %}
  {% include 'portifolio/partial/modal/_editpersonaldatamodal.html' %}
{% else %}
  {% include 'portifolio/partial/modal/_createpersonaldatamodal.html' %}
{% endif %}
