
    <!-- my curriculum section starts  -->

    <section class="curriculo" id="curriculo">

        <h1 class="heading"> <span>Curriculo</span> </h1>
        <h3 class="heading">
            <!-- <img
                src="https://img.icons8.com/external-flaticons-lineal-flat-icons/64/000000/external-skill-resume-flaticons-lineal-flat-icons.png" /> -->
            <img
                src="https://img.icons8.com/external-itim2101-flat-itim2101/48/000000/external-skill-teamwork-itim2101-flat-itim2101-1.png" />

            Skills
        </h3>
        <div class="share">
            {% for socialmedia in socialmedias %}
                {% if socialmedia.skills == True %}
                    <a href="{{socialmedia.link}}" class="fab">
                        <img src="{{socialmedia.icon}}" target="_blank">
                    </a>
                    {% comment %} <a href="#" class="fab"><img src="https://img.icons8.com/color/48/000000/css3.png" /></a>
                    <a href="#" class="fab"><img src="https://img.icons8.com/color/48/000000/bootstrap.png" /></a>
                    <a href="#" class="fab"><img src="https://img.icons8.com/color/48/000000/github.png" /></a>
                    <a href="#" class="fab"><img src="https://img.icons8.com/color/48/000000/python--v1.png" /></a>
                    <a href="#" class="fab"><img src="https://img.icons8.com/ios/48/000000/django.png" /></a>
                    <a href="#" class="fab"><img src="https://img.icons8.com/color/48/000000/mysql-logo.png" /></a>
                    <a href="#" class="fab"><img src="https://img.icons8.com/color/48/000000/heroku.png" /></a> {% endcomment %}
                {%endif%}
            {% endfor %}

        </div>
        <h3 class="heading">
            <!-- <img src="https://img.icons8.com/dotty/50/000000/education.png" /> -->
            <i class="fas fa-school"></i>
            Educação
        </h3>
        <div class="row-education">
            <div class="box-container-educacao">
                <div class="box-educacao">
                    <i class="fas fa-graduation-cap"></i>
                    <span>2017 - Atualmente</span>
                    <h3>web design</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quas delectus, laboriosam
                        nulla dolore in.</p>
                </div>

                <div class="box-educacao">
                    <i class="fas fa-graduation-cap"></i>
                    <span>2018 - 2022</span>
                    <h3>web design</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quas delectus, laboriosam
                        nulla dolore in.</p>
                </div>
                <div class="box-educacao">
                    <i class="fas fa-graduation-cap"></i>
                    <span>2017-2019</span>
                    <h3>web design</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quas delectus, laboriosam
                        nulla dolore in.</p>
                </div>

                <div class="box-educacao">
                    <i class="fas fa-graduation-cap"></i>
                    <span>2020-2021</span>
                    <h3>web design</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quas delectus, laboriosam
                        nulla dolore in.</p>
                </div>

            </div>
        </div>
    </section>

    <!-- my curriculum section ends -->