
    <!-- my curriculum section starts  -->

    <section class="curriculo" id="curriculo">

        <h1 class="heading"> <span>Curriculo</span> </h1>
        <h3 class="heading">
            <!-- <img
                src="https://img.icons8.com/external-flaticons-lineal-flat-icons/64/000000/external-skill-resume-flaticons-lineal-flat-icons.png" /> -->
            <img
                src="https://img.icons8.com/external-itim2101-flat-itim2101/48/000000/external-skill-teamwork-itim2101-flat-itim2101-1.png" />

            Skills
        </h3>
        <div class="share">
            {% for minicard in minicards %}
                {% if minicard.skills == True %}
                    <a href="{{minicard.link}}" class="fab" target="blank">
                        <img src="{{minicard.icon}}">
                    </a>
                {%endif%}
            {% endfor %}

        </div>
        <h3 class="heading">
            <!-- <img src="https://img.icons8.com/dotty/50/000000/education.png" /> -->
            
            <i class="fas fa-school"></i>
            Educação
        </h3>
        <div class="row-education">
            <div class="box-container-educacao">
                {% for card in cards %}
                    {% if card.section == '2'%}                    
                        <div class="box-educacao">
                            <i class="fas fa-graduation-cap"></i>
                            <span>{{card.datainfo}}</span>
                            <h3>{{card.title}}</h3>
                            <p>{{card.subtitle}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- my curriculum section ends -->