    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">
        {% for personaldata in personaldatas %}
        <h3>{{personaldata.name}}</h3>
        <p>{{personaldata.title}}</p>
        {% endfor %}
            <a href="#" class="btn">download CV</a>
        </div>

        <div class="share">
            {% for socialmedia in socialmedias %}
            <a href="{{socialmedia.link}}" class="{{socialmedia.icon}}" target="_blank"></a>
            {% endfor %}
        </div>

    </section>

    <!-- home section ends -->