
    <!-- portfolio section starts  -->

    <section class="portfolio" id="portfolio">

        <h1 class="heading"> my <span>portfolio</span> </h1>

        <div class="box-container">
            {% for card in cards %}
                {% if card.section == '4' %}
                    <div class="box">
                        {% if card.cover %}
                            <img src="{{card.cover.url}}">
                        {% endif %}
                        <div class="content">
                            <h3>{{card.title}}</h3>
                            <div class="link">
                                {% if card.linkdeploy %}
                                    <a href="{{card.linkdeploy}}" target="blank">
                                        <i class="fas fa-laptop"></i>
                                    </a>
                                {% endif %}
                                                        
                                {% if card.linkgithub %}
                                    <a href="{{card.linkgithub}}" target="blank">
                                        <i class="fab fa-github"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </section>

    <!-- portfolio section ends -->