<!-- services section starts -->

<section class="services" id="services">
  <h1 class="heading">my <span>services</span></h1>

  <div class="box-container">
    {% for card in cards %}
      {% if card.section == '3' %}
        <div class="box-card">
          <div class="box">
            <i class="{{ card.icon }}"></i>
            <h3>{{ card.title }}</h3>
            <p>{{ card.subtitle }}</p>
          </div>
          {% include 'portifolio/partial/_buttoncard.html' %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

<!-- services section ends -->
