<div class="icon-info">
    <a href="https://icons8.com.br/icons/" target="_blank" class="link-icon">
    <span>
            <i class="fas fa-link"></i>
        </span>
    </a>
    <span type="button" tabindex="0" data-bs-toggle="popover"
    data-bs-content="Copy icon in icons8.
    copy the link (CDN) and put it in the icon field.
    after searching the 'icon' and then 'download',
    in Link(CDN), let the custom size leave it at 48x48px,
    and finally copy just the http.
    Ex: https://img.icons8.com/color/48/null/html-5--v1.png">
    <i class="fas fa-info-circle"></i>
</span>
</div>