<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Responsive CV using Html & CSS</title>
  <link rel="stylesheet" type="text/css" href="css/pdf.css" />
</head>

<body>
  <div class="container">
    <div class="left_Side">
      <div class="profileText">
        <div class="imgBx">
          <img src="image/user-img.png" alt="" />
        </div>
        <h2>
          Heitor
          <br />
          <span>backend developer</span>
        </h2>

        <div class="contactInfo">
          <h3 class="title">Contact Info</h3>
          <ul>
            <li>
              <span class="icon"></span>
              <span class="text">+55 89 99905-4536</span>
            </li>
            <li>
              <span class="icon"></span>
              <span class="text">heitorcontatodev.gmail.com</span>
            </li>
            <li>
              <span class="icon"></span>
              <span class="text">www.linkde.com</span>
            </li>
            <li>
              <span class="icon"></span>
              <span class="text">www.myportifolio.com</span>
            </li>
            <li>
              <span class="icon"></span>
              <span class="text">brasil</span>
            </li>
            <!-- <a href="#" class="fab fa-twitter"></a> -->
          </ul>
        </div>

        <div class="contactInfo education">
          <h3 class="title">Education</h3>
          <ul>

            <li>
              <h5>2017 - atualmente</h5>
              <h4>ciencias da computação</h4>
              <h4>UESPI - Universidade estadual do piaui</h4>
            </li>

            <li>
              <h5>2010-2015</h5>
              <h4>Tecnicno em informatica subcequente</h4>
              <h4>IFPI - instituto federal do piaui</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="right_Side">
      <div class="about">
        <h2 class="title2">Profile</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.<br> <br> Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="about">
        <h2 class="title2">Experience</h2>

        <div class="box">
          <div class="year_company">
            <h5>2019 - Present</h5>
            <h5>Company Name</h5>
          </div>
          <div class="text">
            <h4>Senior UX Designer</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.</p>
          </div>
        </div>

        <div class="box">
          <div class="year_company">
            <h5>2019 - Present</h5>
            <h5>Company Nameeeeeeeee</h5>
          </div>
          <div class="text">
            <h4>Senior UX Designer</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.</p>
          </div>
        </div>

        <div class="box">
          <div class="year_company">
            <h5>2019 - 2022</h5>
            <h5>Company Name</h5>
          </div>
          <div class="text">
            <h4>Senior UX Designer</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua.</p>
          </div>
        </div>

        <div class="about skills">
          <h2 class="title2">Professional Skills</h2>
          <div class="box">
            <h4>Html</h4>
            <div class="percent">
              <div style="width: 95%;"></div>
            </div>
          </div>

          <div class="box">
            <h4>CSS</h4>
            <div class="percent">
              <div style="width: 70%;"></div>
            </div>
          </div>

          <div class="box">
            <h4>django</h4>
            <div class="percent">
              <div style="width: 80%;"></div>

            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</body>

</html>