{%extends 'base.html'%}
<body>
{% block content %}
    {% include 'portifolio/partial/_nav.html' %}
    {% include 'portifolio/partial/_buttonactions.html' %}
    {% include 'portifolio/partial/_home.html' %}
    {% include 'portifolio/partial/_about.html' %}
    {% include 'portifolio/partial/_curriculum.html' %}
    {% include 'portifolio/partial/_services.html' %}
    {% include 'portifolio/partial/_portifolio.html' %}
    {% include 'portifolio/partial/_contact.html' %}
{% endblock content %}
</body>