
    <!-- header section starts  -->

    <header class="header">

        <div class="user">
            <img src="portifolio/templates/Front-end/image/user-img.png" alt="">
            <h3>Heitor Louzeiro</h3>
            <p>Backend developer</p>
        </div>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#curriculo">curriculo</a>
            <a href="#services">services</a>
            <a href="#portfolio">portfolio</a>
            <a href="#contact">contact</a>
        </nav>

    </header>

    <!-- header section ends -->

    <div id="menu-btn" class="fas fa-bars"></div>

    <!-- theme toggler  -->

    <div id="theme-toggler" class="fas fa-moon"></div>
    <div class="togle-whatsapp">
        <a href="https://api.whatsapp.com/send?phone=5589999054536" class="fab fa-whatsapp" target="blank">
        </a>
    </div>