@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a{
    text-decoration: none;
}
.a:hover{
    color:#000;
}
i{
    color: #fff;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1240px;
    min-height: 1100px;
    background:#fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);

}
.container .left_Side{
    position: relative;
    background: #003147;
    padding: 10px;
}

.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.profileText .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2{
    color: #fff;
    font-size: 15.96px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    Line-height: 1.4em;
}
.profileText h2 span{
    font-size:0.8em;
    font-weight: 300;
}

.contactInfo{
    padding-top: 40px;
}

.title{
    font-size:15.96px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.contactInfo ul{
    position: relative;
}

.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
}
.contactInfo ul li span{
    color: #fff;
    font-weight: 300;
}
li.mini-card{
    display: grid;
}

.contactInfo.education li{
    margin-bottom: 15px;
}
.contactInfo.education h5{
    color: #03a9f4;
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2){
    color: #fff;
    font-weight: 500;
}
.contactInfo.education h4{
    color: #fff;
    font-weight: 300;
}

.container .right_Side{
    position: relative;
    background: #fff;
    padding: 40px;
}

.btn-pdf{
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    padding: 15px 20px;
    border-radius: 40px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    color: white;
    font-size: 24px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}
.btn-pdf:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.btn-pdf:active {
    border-top-color: #1b435e;
    background: #1b435e;
}
a.btn-pdf{
    color: #fff;
}
.about{
    margin-bottom: 20px;
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #333;
}
.about .box{
    display: flex;
    flex-direction: row;
}
.box-container {
    display: flex;
    flex-wrap: wrap-reverse;
}
.about .box-container .box-card{
    flex: 1 1 13rem;
    text-align: center;
    padding: 10px;
    border-radius: 0.5rem;
    box-shadow: .4rem .4rem 1rem #ccc,-.4rem -.4rem 1rem #fff;
}
.about a{
    color:black;
}
.about a:hover{
    color: #27ae60;
}

.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #fefefe;
}
.skills .box .percent div{
    position: absolute;
    top: 0;
    Left: 0;
    height: 100%;
    background: #03a9f4;
}
@media (max-width: 1000px){
    .container{
        margin: 10px;
    }
}
@media (max-width: 600px){
    .about .box{
        flex-direction: column;
    }
    .about .box .year_company{
        margin-bottom: 5px;
    }
    .skills .box{
        grid-template-columns: repeat(1,1fr);
    }
}
@media print{
    .btn-pdf{
        display: none;
    }
}
